/hashing-with-chaining/*
!/hashing-with-chaining/include
!/hashing-with-chaining/src
!/hashing-with-chaining/Makefile
!/hashing-with-chaining/README.md

/file-compression/*
!/file-compression/include
!/file-compression/src
!/file-compression/Makefile
!/file-compression/README.md
